@import "tailwindcss";

@theme {
  --breakpoint-md: 764px;
  --breakpoint-lg: 1024px;
}

body {
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Roboto", sans-serif;
}

/* remove scrollbar */
::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.test {
  color: #00163d;
}
